<!DOCTYPE html>
<html lang="en"> <!-- c-whitespace="preserve" -->

  <head>
    <layout-placeholder name="html_header"/>
    <lasso-head/>
  </head>
  <body>

    <layout-placeholder name="header"/>

    <layout-placeholder name="body" />


    <layout-placeholder name="footer" />
    <!-- {{> footerDev}} -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <layout-placeholder name="js"/>
    -->
    <lasso-body/>
  </body>
</html>
