<lasso-page package-path="./default.browser.json"/>

<layout-use template="../application-layout.marko"  >
  <layout-put into="body">
    <div class='container' id="content">
      <include template="./partials/deposit-menu.marko" />
    </div>
  </layout-put>
</layout-use>
